# Node
node_modules/
npm-debug.log*

# Next.js
.next/
out/

# Build
dist/
build/

# DB and uploads (datos persistentes en volúmenes Docker)
data/
public/uploads/

# Env
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Prisma migrations (ya incluidas en el repo, no ignorarlas)
# prisma/migrations/

# TypeScript
*.tsbuildinfo
